h1 {
  color: #00008B;
}
a {
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.list-movies-image {
  float:left;
  margin: 0 0 10px 10px;
  padding: 5px 15px 5px 5px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.list-movies-content {
  padding: 10px 10px;
}
.custom-rating {
  float: left;
  display: inline-block;
}
p.movies-score-number {
  padding-top: 15px;
}
